@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: PoppinsRegular;
    font-weight: 400;
    overflow-x: hidden;
}


@font-face {
    font-family: PoppinsRegular;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}


.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}